layout ruby

# brew bundle env
export ACLOCAL_PATH="/opt/homebrew/share/aclocal"
export CC="clang"
export CMAKE_INCLUDE_PATH="/Library/Developer/CommandLineTools/SDKs/MacOSX14.sdk/System/Library/Frameworks/OpenGL.framework/Versions/Current/Headers"
export CMAKE_LIBRARY_PATH="/Library/Developer/CommandLineTools/SDKs/MacOSX14.sdk/System/Library/Frameworks/OpenGL.framework/Versions/Current/Libraries"
export CMAKE_PREFIX_PATH="/opt/homebrew/opt/ruby:/opt/homebrew:${CMAKE_PREFIX_PATH:-}"
export CXX="clang++"
export GOTOOLCHAIN="local"
export HIDAPI_SYSTEM_HIDAPI="1"
export INFOPATH="/opt/homebrew/share/info"
export M4="/usr/bin/gm4"
export MAKEFLAGS="-j8"
export OBJC="clang"
export OBJCXX="clang++"
export OPENSSL_NO_VENDOR="1"
export PATH="/opt/homebrew/opt/ruby/bin:/opt/homebrew/opt/solargraph/bin:${PATH:-}"
export PKG_CONFIG_LIBDIR="/usr/lib/pkgconfig:/opt/homebrew/Library/Homebrew/os/mac/pkgconfig/14"
export PKG_CONFIG_PATH="/opt/homebrew/opt/ruby/lib/pkgconfig"
export PYZMQ_NO_BUNDLE="1"
export SODIUM_INSTALL="system"
export VERSIONER_PERL_VERSION="5.34"
export ZERO_AR_DATE="1"
export am_cv_func_iconv_works="yes"